* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

.conteiner {
  max-width: 1440px;
  height: 4913px;
  margin-top: 50px;
}

.nav {
  width: 1440px;
}

.signup__title, .email__title, .item__mobile, .item__laptop, .item__iphone12, .item__promax, .item__keyboard, .item__google, .item__gift, .item__charger, .item__iphone, .keyword__title, .menu__support, .menu__about, .menu__solutions, .menu__products {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.nav {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
}

.title__never_miss, .search__text, .ideas__title, .best__title, .sell__title, .shop__title {
  width: 780px;
  height: 53px;
  font-size: 42px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.subtitle__never_miss, .ideas__subtitle, .best__subtitle, .shop__subtitle {
  width: 628px;
  height: 34px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.tablet__subtitle, .phones__subtitle, .watches__subtitle, .laptop__subtitle {
  width: 192px;
  height: 77px;
  font-size: 32px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.tablet__title, .phones__title, .watches__title, .laptop__title {
  width: 60px;
  height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.ipad__text, .smartwatch__text, .macbook__text {
  width: 261px;
  height: 51px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #4b4b4b;
}

.follow_us__title, .company__title, .products__title, .ipad__title, .smartwatch__title, .macbook__title {
  width: 260px;
  height: 28px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.powered__title_by, .powered__title, .product-block__button, .selling-block__button, .pack-block__button, .ipad__prise, .smartwatch__prise, .macbook__prise {
  width: 260px;
  height: 22px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.product-block__title, .selling-block__title, .pack-block__title {
  width: 141px;
  height: 17px;
  font-size: 13px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.product-block__subtitle, .selling-block__subtitle, .pack-block__subtitle {
  width: 253px;
  height: 35px;
  font-size: 28px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
}

.ideas__text_subtitle, .ideas__text_title2 {
  width: 569px;
  height: 60px;
  font-size: 22px;
  font-weight: normal;
  font-family: "Readex Pro", sans-serif;
}

.follow_us__subtitle, .support__subtitle, .company__subtitle, .products__subtitle {
  width: 200px;
  height: 28px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
}

.logo {
  width: 170px;
  height: 21px;
}

.vects__solution {
  margin-left: -30px;
}

.menu__center {
  justify-content: space-between;
  width: 600px;
  height: 80px;
  display: flex;
}
.menu .solution__solution {
  width: 84px;
}
.menu .solution__vects {
  width: 10px;
  height: 5px;
}
.menu__auth {
  width: 110px;
  display: flex;
}

.main__phone {
  width: 1294px;
  height: 550px;
  background-color: #DCE5E2;
  border-radius: 20px;
}

.phone__block {
  display: flex;
  justify-content: space-around;
}
.phone__vec {
  margin-top: 250px;
}
.phone__rightside {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.phone__title {
  width: 588px;
  height: 140px;
  font-size: 58px;
  font-weight: 400;
  font-family: "Readex Pro", sans-serif;
  padding-top: 100px;
}
.phone__text {
  width: 565px;
  height: 39px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding-top: 140px;
  margin-left: -2px;
}
.phone__button {
  width: 124px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 100px;
  text-align: center;
  margin-left: -2px;
}
.phone__leftside {
  display: flex;
  flex-direction: column;
}
.phone__foto {
  -o-object-fit: cover;
     object-fit: cover;
}
.phone__rightvector {
  margin-left: 620px;
  margin-top: -300px;
}
.phone__linear {
  display: flex;
  padding-top: 80px;
  width: 650px;
}
.section__shop {
  max-width: 1294px;
}

.shop__title {
  margin-top: 50px;
}
.shop__subtitle {
  margin-top: 9px;
}
.shop__fotos {
  display: grid;
  grid-template-columns: 639px 312px 312px;
  grid-template-rows: 472px 270px;
  grid-gap: 15px;
  grid-row-gap: 50px;
  padding-top: 80px;
}

.foto__laptop {
  width: 639px;
  height: 472px;
  grid-column: 1/2;
  background-color: white;
  box-shadow: 0px 0px 50px 0px #DCE5E2;
  border-radius: 10px;
  text-align: center;
}
.foto__lap {
  -o-object-fit: cover;
     object-fit: cover;
}
.foto__watches {
  width: 639px;
  height: 270px;
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: white;
  box-shadow: 0px 0px 50px 0px #DCE5E2;
  border-radius: 10px;
  margin-top: 20px;
}
.foto__phones {
  width: 312px;
  height: 792px;
  background-color: white;
  box-shadow: 0px 0px 50px 0px #DCE5E2;
  border-radius: 10px;
  grid-column: 2/3;
  grid-row: 1/3;
  text-align: center;
}
.foto__tablet {
  width: 312px;
  height: 792px;
  background-color: white;
  box-shadow: 0px 0px 50px 0px #DCE5E2;
  border-radius: 10px;
  grid-column: 3/4;
  grid-row: 1/3;
  text-align: center;
}

.laptop__title {
  margin-right: 30px;
  margin-top: -10px;
}
.laptop__subtitle {
  margin-right: 30px;
  text-align: end;
}

.watches__foto {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 30px;
}
.watches__title {
  margin-right: 20px;
  margin-top: -180px;
}
.watches__subtitle {
  width: 128px;
  height: 77px;
  margin-right: 30px;
  text-align: end;
}

.phones__foto {
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 100px;
  margin-left: 14px;
}
.phones__title {
  margin-top: 50px;
}
.phones__subtitle {
  width: 250px;
}

.tablet__foto {
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 30px;
}
.tablet__title {
  margin-top: 160px;
}
.tablet__subtitle {
  width: 233px;
  height: 77px;
}

.section__sell {
  width: 1350px;
  height: 606px;
  display: flex;
  flex-direction: column;
}

.block__macbook {
  width: 305.2px;
  height: 396px;
}
.block__smartwatch {
  width: 305.2px;
  height: 396px;
}
.block__ipad {
  width: 305.2px;
  height: 396px;
}

.sell__title {
  margin-top: 100px;
  text-align: center;
}
.sell__subtitle {
  margin-top: 9px;
  text-align: center;
}

.main__items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.macbook__foto {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 50px;
}
.macbook__title {
  margin-top: 37px;
}
.macbook__text {
  margin-top: 9px;
}
.macbook__prise {
  margin-top: 8px;
}

.smartwatch__foto {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 50px;
}
.smartwatch__title {
  margin-top: 37px;
}
.smartwatch__text {
  margin-top: 9px;
}
.smartwatch__prise {
  margin-top: 8px;
}

.ipad__foto {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 50px;
}
.ipad__title {
  margin-top: 37px;
}
.ipad__text {
  margin-top: 9px;
}
.ipad__prise {
  margin-top: 8px;
}

.section__best {
  width: 1350px;
  height: 663px;
  padding-top: 100px;
}

.text__best {
  text-align: center;
}

.best__subtitle {
  margin-top: 9px;
}
.best__items {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  text-align: center;
}

.smart__pack-block {
  width: 413px;
  height: 453px;
  background-color: #F8F9FA;
  border-radius: 16px;
}

.pack-block__title {
  margin-top: 41px;
}
.pack-block__subtitle {
  margin-top: 10px;
}
.pack-block__button {
  width: 190px;
  height: 50px;
  border: 1px solid black;
  border-radius: 200px;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
}
.pack-block__foto {
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.selling__pack-block {
  width: 413px;
  height: 453px;
  background-color: #F8F9FA;
  border-radius: 16px;
}

.selling-block__title {
  margin-top: 41px;
}
.selling-block__subtitle {
  margin-top: 10px;
}
.selling-block__button {
  width: 190px;
  height: 50px;
  border: 1px solid black;
  border-radius: 200px;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
}
.selling-block__foto {
  margin-top: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__pack-block {
  width: 413px;
  height: 453px;
  background-color: #F8F9FA;
  border-radius: 16px;
}

.product-block__title {
  margin-top: 41px;
}
.product-block__subtitle {
  margin-top: 10px;
}
.product-block__button {
  width: 190px;
  height: 50px;
  border: 1px solid black;
  border-radius: 200px;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
}
.product-block__foto {
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__ideas {
  max-width: 1440px;
  height: 728px;
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.ideas {
  width: 639px;
  height: 292px;
}
.ideas__title {
  text-align: center;
}
.ideas__subtitle {
  text-align: center;
  margin-top: 9px;
}
.ideas__main {
  display: flex;
  justify-content: space-between;
  width: 1350px;
  margin-top: 60px;
}
.ideas__foto {
  -o-object-fit: cover;
     object-fit: cover;
}
.ideas__see_all {
  width: 109px;
  height: 28px;
  display: flex;
  margin-top: 50px;
  text-align: center;
}

.see__all_title {
  font-size: 24px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 1440px;
}
.section__search {
  width: 1440px;
  height: 834px;
  margin-top: 75px;
}

.search__text {
  width: 563px;
  height: 53px;
  margin-top: 40px;
}
.search__keyword {
  width: 650px;
  height: 60px;
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  display: flex;
  margin-top: 40px;
  text-align: start;
  line-height: 60px;
}

.keyword__vector {
  margin-left: 20px;
  margin-top: 7px;
}
.keyword__title {
  margin-left: -400px;
}

.button__row {
  width: 535px;
  display: flex;
  margin-top: 30px;
}
.button__row_second {
  width: 435px;
  display: flex;
  margin-top: 10px;
}

.item__iphone {
  width: 90px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}
.item__charger {
  width: 98px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}
.item__gift {
  width: 68px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}
.item__google {
  width: 142px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}
.item__keyboard {
  width: 109px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}
.item__promax {
  width: 118px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}
.item__iphone12 {
  width: 109px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}
.item__laptop {
  width: 91px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}
.item__mobile {
  width: 89px;
  height: 42px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  text-align: center;
  line-height: 42px;
}

.main__never_miss {
  background-color: #DCE5E2;
  width: 935px;
  height: 450px;
  margin-top: 40px;
  border-radius: 16px;
  text-align: center;
}

.title__never_miss {
  padding-top: 50px;
}

.subtitle__never_miss {
  margin-top: 60px;
}

.Keyword__email {
  width: 400px;
  height: 50px;
  display: flex;
  margin-top: 10px;
}

.email__title {
  width: 285px;
  height: 50px;
  border: 1px solid black;
  border-radius: 54px 0px 0px 54px;
  line-height: 50px;
}

.signup__title {
  width: 115px;
  height: 50px;
  color: aliceblue;
  border-radius: 0px 200px 200px 0px;
  background-color: black;
  line-height: 50px;
}

.footer__main {
  width: 1440px;
  height: 378px;
  background-color: #F8F9FA;
  border-top: 1px solid #DCE5E2;
}

.blocks__main {
  width: 1294px;
  height: 191px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.block__products {
  width: 197px;
  height: 191px;
}
.block__company {
  width: 197px;
  height: 191px;
}
.block__support {
  width: 197px;
  height: 191px;
}
.block__foolow_us {
  width: 197px;
  height: 191px;
}

.sign__title {
  width: 304px;
  height: 39px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
}

.products__subtitle {
  padding-bottom: 20px;
}

.company__subtitle {
  padding-bottom: 20px;
}

.support__subtitle {
  padding-bottom: 20px;
}

.follow_us__subtitle {
  padding-bottom: 20px;
}

.powered__main {
  width: 1350px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  border-top: 2px solid #DCE5E2;
}
.powered__left-block {
  display: flex;
  margin-top: 50px;
  margin-left: 2px;
}
.powered__title {
  width: 110px;
  height: 22px;
}
.powered__title_by {
  width: 85px;
  height: 22px;
}
.powered__subtitle {
  width: 72px;
  height: 22px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.powered__vector {
  width: 21px;
  height: 18px;
  margin-left: 4px;
}
.powered__right-block {
  display: flex;
  margin-top: 50px;
  margin-right: 2px;
}

@media (max-width: 768px), (height: 9500px) {
  header {
    display: flex;
    width: 768px;
  }
  .logo {
    padding-left: 60px;
  }
  .menu__center {
    width: 350px;
    margin-left: 120px;
  }
  .vects__solution {
    margin-left: 2px;
  }
  .menu__auth {
    width: 80px;
    padding-left: 60px;
  }
  .main__phone {
    width: 768px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
  }
  .phone__block {
    width: 768px;
    display: flex;
  }
  .phone__rightsight {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .phone__leftsight {
    display: flex;
    justify-content: space-around;
    width: 320px;
  }
  .phone__title {
    width: 350px;
    height: 140px;
    font-size: 45px;
    text-align: start;
  }
  .phone__text {
    width: 300px;
    text-align: start;
  }
  .phone__foto {
    width: 180px;
    height: 341px;
    margin-left: -200px;
  }
  .phone__rightvector {
    margin-left: 360px;
    margin-top: -88px;
    width: 10px;
    height: 5px;
  }
  .phone__vec {
    margin-left: 1px;
  }
  .section__shop {
    width: 768px;
  }
  .shop__text {
    text-align: center;
    padding-left: 50px;
    margin-top: 50px;
  }
  .shop__subtitle {
    margin-left: 80px;
  }
  .shop__fotos {
    display: flex;
    flex-direction: column;
    width: 768px;
    padding-left: 60px;
  }
  .foto__laptop {
    width: 768px;
    height: 472px;
    margin-top: 50px;
  }
  .foto__phones {
    width: 768px;
    margin-left: 5px;
  }
  .foto__tablet {
    width: 768px;
    margin-left: 5px;
  }
  .foto__watches {
    width: 768px;
    height: 472px;
  }
  .watches__foto {
    margin-top: 90px;
    margin-left: 80px;
  }
  .watches__title {
    margin-right: 130px;
  }
  .watches__subtitle {
    margin-right: 140px;
  }
  .section__sell {
    width: 768px;
    height: 2000px;
    padding-left: 50px;
  }
  .main__items {
    width: 768px;
    display: flex;
    flex-direction: column;
  }
  .macbook__foto {
    width: 600px;
  }
  .smartwatch__foto {
    width: 600px;
  }
  .ipad__foto {
    width: 600px;
  }
  .macbook__title {
    width: 768px;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .macbook__text {
    width: 400px;
    font-size: 30px;
    margin-bottom: 120px;
  }
  .macbook__prise {
    width: 400px;
    margin-bottom: 90px;
    font-size: 30px;
  }
  .smartwatch__text {
    width: 400px;
    font-size: 30px;
    margin-bottom: 120px;
  }
  .smartwatch__title {
    width: 768px;
    font-size: 40px;
    margin-bottom: 40px;
  }
  .smartwatch__prise {
    width: 400px;
    font-size: 30px;
  }
  .ipad__text {
    width: 400px;
    font-size: 30px;
    margin-bottom: 90px;
  }
  .ipad__title {
    width: 768px;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .ipad__prise {
    width: 400px;
    font-size: 30px;
    margin-top: 120px;
  }
  .block__macbook {
    margin-bottom: 200px;
  }
  .block__smartwatch {
    margin-bottom: 150px;
  }
  .block__ipad {
    margin-bottom: 150px;
  }
  .section__best {
    width: 768px;
    height: 1700px;
    margin-top: 550px;
    padding-left: 65px;
  }
  .text__best {
    width: 768px;
    margin-top: 50px;
  }
  .best__items {
    width: 768px;
    display: flex;
    flex-direction: column;
  }
  .smart__pack-block {
    width: 768px;
    margin-bottom: 50px;
  }
  .pack-block__title {
    width: 400px;
    font-size: 20px;
  }
  .selling__pack-block {
    width: 768px;
    margin-bottom: 50px;
  }
  .selling-block__title {
    width: 400px;
    font-size: 20px;
  }
  .product__pack-block {
    width: 768px;
    margin-bottom: 50px;
  }
  .product-block__title {
    width: 400px;
    font-size: 20px;
  }
  .section__ideas {
    width: 768px;
  }
  .ideas__text_title {
    padding-left: 50px;
  }
  .ideas__main {
    width: 768px;
    height: 2000px;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
  }
  .ideas__text_title2 {
    padding-left: 40px;
  }
  .ideas__text_subtitle {
    padding-left: 40px;
  }
  .ideas__foto {
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .ideas__see_all {
    width: 280px;
    text-align: center;
    padding-left: 150px;
  }
  .section__search {
    width: 768px;
    margin-top: 450px;
    margin-left: 70px;
  }
  .main__never_miss {
    width: 768px;
  }
  .footer__main {
    width: 768px;
    display: flex;
    flex-direction: column;
    margin-left: 67px;
  }
  .blocks__main {
    width: 768px;
    display: flex;
  }
  .block__products {
    width: 100px;
    padding-left: 120px;
    padding-right: 30px;
  }
  .block__company {
    width: 100px;
    margin-left: 130px;
  }
  .block__support {
    width: 100px;
    margin-left: 20px;
  }
  .block__foolow_us {
    width: 100px;
  }
  .block__sign {
    margin-left: 20px;
    width: 80px;
  }
  .sign__title {
    width: 233px;
    height: 150px;
    padding-right: 30px;
  }
  .sign__logo {
    width: 140px;
  }
  .powered__main {
    width: 760px;
  }
}/*# sourceMappingURL=first exersize.css.map */